/*
Theme Name: SmartService
Theme URI:
Author: TechWeb team
Author URI: http://techwebgt.com
Description: Smart Service website
Version: 1.0.0
Tags: white
Text Domain: smartservice
*/


/* # reset */
*, *:after, *:before {
  box-sizing: border-box;

}
html, body, h1, h2, h3, h4, h5, h6, ul, li, figure, .row {
  margin: 0;
  padding: 0;
}
figure img {
  width: 100%;
  height: 100%;
}
figure {
  padding: 0 !important;
  margin: 0 !important;
}
a, a:hover {
  text-decoration: none;
}
body {
  font-size: 18px;
  font-family: Tahoma;
  font-family: 'Montserrat', sans-serif;
}
nav ul, .no-list {
  list-style: none;
}

/* Theme */
/* # Theme */
.row {
  margin-left: 0;
  margin-right: 0;
}
.t-bold {
  font-weight: bold;
}
.t-white { color: #ffffff;}
.t-black { color: #000000;}
.t-blue { color: #1fb5be;}

.t-black__hover:hover { color: #000000;}
.t-white__hover:hover { color: #ffffff;}
.t__blue-hover:hover { color: #1fb5be;}
.t__green-hover:hover { color: #68DC8D;}

.b-white { background-color: #ffffff;}
.b-black { background-color: #000000;}
.b-blue { background-color: #1fb5be;}
.b-principal {
  background: rgb(104,220,141);
  background: -moz-linear-gradient(left, rgba(104,220,141,1) 0%, rgba(104,220,141,1) 26%, rgba(31,181,190,1) 100%);
  background: -webkit-linear-gradient(left, rgba(104,220,141,1) 0%,rgba(104,220,141,1) 26%,rgba(31,181,190,1) 100%);
  background: linear-gradient(to right, rgba(104,220,141,1) 0%,rgba(104,220,141,1) 26%,rgba(31,181,190,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68dc8d', endColorstr='#1fb5be',GradientType=1 );
}
.b-gray { background-color: #a0a0a0; }

.b__white-hover:hover { background-color: #ffffff;}
.b__black-hover:hover { background-color: #000000;}
.b__blue-hover:hover { background-color: #1fb5be;}
.b__green-hover:hover { background-color: #68DC8D;}
.t-right { text-align: right; }
.t-center { text-align: center; }
.e-center {
  margin-left: auto;
  margin-right: auto;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: flex-end;
}
.a-center {
  align-items: center;
}
.a-end {
  align-items: flex-end;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.title {
  font-weight: bold;
  font-size: 3rem;
}
.border-none {
  border: none;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-relative {
  position: relative;
}



.form__section table {
  font-size: .8em;
}

.form__section thead {
  background: black;
  color: white;
}
.form__section tfoot {
  display: none;
}

.clean {
  padding: 0px;
}
