.header {
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 9;
  display: none;
}
.slider-1{
  display: block !important;
}
.slider-2{
  display: none !important;
}
.logo__figure {
  width: 10rem;
}
.container__padding{
  padding: 1rem 0 0;
}
.item__padding {
  padding: 1rem 1rem 0;
}
.option .item__padding:first-child {
  padding-right: 0;
}
.option .item__padding:nth-child(3),
.option .item__padding:nth-child(5) {
  padding-right: 0;
}
.hero__video__container {
  height: 70vh;
}


#inicio img{
  width: 100%;
}




.title__section {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
}

.title__section h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section img {
  width: 66% !important;
  height: 100%;
  padding-top: 5% !important;
}




.title__section2 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
}

.title__section2 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section2 img {
  width: 100% !important;
  height: 100%;
  padding-bottom: 8% !important;
  padding-top: 3% !important;
}





.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
}
.centrado{
  position: absolute;
  top: 30% !important;
  left: 51% !important;
  color: #ffffff;
  font-family: bebas;
  font-size: 4rem !important;
  transform: translate(-50%, -50%);
}

.centrado2{
  position: absolute;
  top: 45% !important;
  left: 52% !important;
  color: #ffffff;
  font-family: bebas;
  font-size: 2rem !important;
  transform: translate(-50%, -50%);
  display: inherit !important;
}

.centrado3{
  display: none !important; 
  position: absolute;
  top: 43% !important;
  left: 52% !important;
  color: #ffffff;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}

.centrado4{
  display: none !important;
  position: absolute;
  top: 55% !important;
  left: 52% !important;
  color: #ffffff;
  font-family: bebas;
  font-size: 1.5rem !important;
  transform: translate(-50%, -50%);
}

.centrado5{
  display: none !important;
  position: absolute;
  top: 55% !important;
  left: 50% !important;
  color: #ffffff;
  font-family: bebas;
  font-size: 0.9rem !important;
  transform: translate(-50%, -50%);
}























/*.header__title {
  height: 20vh;
  text-align: center;
}

.d-flex { display: flex; }

.j-center { justify-content: center; }


.a-center { align-items: center; }

.b-black { background-color: #000000; }

.t-white { color: #ffffff; }

.p-relative { position: relative; }

.w-50 { width: 50%; margin: 0 auto; }

.page__description {
  font-size: 1.2em;
  padding: 3em 0;
}*/



.header__nav .nav-link {
  padding: 0 1.5rem !important;
  font-weight: bold;
}
.social__nav .nav-link {
  /* padding: .4rem .4rem; */
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.social__nav {
  font-size: 1.3rem;
}
.hero__principal, .top {
  padding-top: 7rem;
}
.footer {
  margin-top: 1rem;
}
.btn__download {
  margin: 1rem auto;
}
.title__page {
  padding: 4rem 0 2rem;
}
.form__template label {
  font-weight: bold;
}

.form__template input, .form__template textarea{
  border: 2px solid #1fb5be;
}
.form__template select {
  border: 2px solid #1fb5be;
  font: inherit;
}
.form__template input[type="submit"] {
  background-color: #1fb5be;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form__template input[type="submit"]:hover {
  background-color: #000000;
}
.hero__slide {
  padding: 4rem 0;
}
.message_one {
  top: 3rem;
  left: 3rem;
}
.message_three {
  right: 3rem;
  top: 5rem;
}
.message_four {
  margin-top: 3rem;
  top: 0;
}
.form__cotizar input[type='submit'] {
  border: 0;
  color: #ffffff;
  background-color: #1fb5be;
  font-size: 1.1em;
  padding: .5em 1em;
  width: 100% !important;
  cursor: pointer;
}
.form__cotizar input[type="submit"]:hover {
  background-color: #1fb5be;
}
.form__cotizar input[type="text"], .form__cotizar input[type="email"] {
  border: 0;
  border: 2px solid #d8d8d8;
  color: #000000;
  width: 100%;
  border-radius: 0.3em;
  background: #f9f9f9;

}
.form__cotizar textarea {
  color: #000000;
  border: 2px solid #d8d8d8;
  width: 100%;
  border-radius: 0.3em;
  background: #f9f9f9;
}
.form__cotizar input[type="text"]:focus, .form__cotizar input[type="email"]:focus {
  border: 0;
  border-bottom: 2px solid #000;
  color: #000000;
}
.form__cotizar label {
  width: 100%;
  font-weight: bold;
}
.form__contacto {
  width: 60%;
  margin: auto;
}
.sr-text {
  display:none;
}
.gform_fields {
  list-style: none;
}
li.gfield {
  padding: .5rem .5rem;
}



/* para formularios de servicios */
.col-center{
  float: none;
  margin: auto;
  min-width:650px;
}
/* asi se modifican los campos del formulario */

.form__servicios li{
  margin-top: 0px !important;
  padding: 0px !important;
  padding-right: 8px !important;
  padding-left: 10px !important;
}
.form__servicios label {
  font-weight: 1000 !important;
  font-size: 0.75rem !important;
}

.form__servicios input, .form__servicios textarea{
  border: 0px;
  background-color: #e9e6e6;
  width: 100% !important;
  font-size: 0.75rem !important;
}
.form__servicios .ginput_container, .form__servicios .gfield_label {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.form__servicios textarea {
  height: 80px !important;
}
.form__servicios select {
  border: 2px solid #1fb5be;
  font: inherit;
}
.form__servicios .gform_footer{
  padding-right: 8px !important;
  padding-left: 10px !important;
}

.form__servicios span.gfield_required{
  color:#1fb5be !important;
}

.form__servicios input[type="submit"] {
  background-color: #e9e6e6;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem ;
  font-weight: 1000;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form__servicios input[type="submit"]:hover {
  background-color: #1fb5be;
}

.descripcion_servicio {
  font-size: 0.75rem;
  margin-top: 155px ;
}
h4{
  font-size: 1rem;
}
.franja_inferior {
   margin-top:400px;
}
.franja_superior {
  margin-top: 80px;
}
.titulo_superior {
  margin-top: 85px;
}

.button_cotizar{
  margin-top: 50px;
  background-color: #e9e6e6;
  color: #000000;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1.5rem !important;
  font-weight: 1000;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  display: none;
  width: 100% !important;
}
.button_cotizar:hover {
  background-color: #00d0bf;
}
.form__servicios .validation_error {
  display: none !important;
}
.form__servicios .validation_message {
  display: none !important;
}
.form__servicios .gfield_error {
  border-top: 0px !important;
  border-bottom: 0px !important;
}
.icono-ubicacion {
  margin-left:3.5rem; font-size:3rem;
}
.imagen-moto{
  position: absolute;
  left: 4%;
}

.message_three .service__title  { text-shadow: 1px 1px 5px rgba(150, 150, 150, 1); }






@media only screen and (max-width: 1672px) {
  .centrado2{
    top: 45% !important;
    left: 52% !important;
    font-size: 1.9rem !important;
  }
}

@media only screen and (max-width: 1587px) {
  .centrado2{
    top: 45% !important;
    left: 52% !important;
    font-size: 1.7rem !important;
  }
}

@media only screen and (max-width: 1420px) {
  .centrado{
    font-size: 3.5rem !important;
  }
  
  .centrado2{
    top: 48% !important;
    left: 51% !important;
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 1228px) {
  .centrado{
    font-size: 3rem !important;
  }
  
  .centrado2{
    top: 48% !important;
    left: 51% !important;
    font-size: 1.3rem !important;
  }
}

@media only screen and (max-width: 1062px) {
 
  .centrado{
    font-size: 2rem !important;
  }
  .centrado2{
    font-size: 1.2rem !important;
  }
}


@media only screen and (max-width: 768px) {
  .centrado{
    font-size: 2rem !important;
    top: 27% !important;
    left: 52% !important;
  }
  
  .centrado2{
    display: none !important;
  }
  .centrado3{
    display: inherit !important;
  }
  .centrado4{
    display: inherit !important;
  }
}

@media only screen and (max-width: 414px) {
  .centrado{
    font-size: 1.3rem !important;
    top: 28% !important;
    left: 50% !important;
  }
  
  .centrado2{
    display: none !important;
  }
  .centrado3{
    display: none !important;
  }
  .centrado4{
    display: none !important;
  }
  .centrado5{
    display: inherit !important;
  }
}

@media only screen and (max-width: 375px) {
  .centrado{
    font-size: 1rem !important;
  }
  
  .centrado2{
    display: none !important;
  }
  .centrado3{
    display: none !important;
  }
  .centrado4{
    display: none !important;
  }
  .centrado5{
    display: inherit !important;
    top: 49% !important;
    font-size: 0.8rem !important;
  }
}


